# =====================================================================
# Postgres
# =====================================================================
POSTGRES_DB=ordersdb
POSTGRES_USER=orders
POSTGRES_PASSWORD=orderspass

# =====================================================================
# pgAdmin
# =====================================================================
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

# =====================================================================
# RabbitMQ
# =====================================================================
RABBITMQ_DEFAULT_USER=dev
RABBITMQ_DEFAULT_PASS=dev
